apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: authentication
  template:
    metadata:
      labels:
        app: authentication
    spec:
      containers:
        - image: anzeha/authentication
          name: authentication
          env:
            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: google-auth
                  key: GOOGLE_CLIENT_ID
            - name: GOOGLE_SECRET
              valueFrom:
                secretKeyRef:
                  name: google-auth
                  key: GOOGLE_SECRET
            - name: GOOGLE_CALLBACK_URL
              value: http://20.72.172.42.nip.io/authentication/v1/auth/google/redirect
          ports:
            - containerPort: 3000
              name: server
              protocol: TCP

---
apiVersion: v1
kind: Service
metadata:
  name: authentication
spec:
  type: ClusterIP
  ports:
    - port: 8084
      protocol: TCP
      targetPort: server
  selector:
    app: authentication
